*.pyc
.pio/
.vscode/
# General temp files
*.DS_Store
*.swp
*.lck
*.autosave
*~

# GNU/Make
*/*.s

# SDCC
*.adb
*.hex
*.lst
*.map
*.asm
*.ihx
*.lk
*.mem
*.rel
*.rst
*.sym
*.bin
__pycache__/
*.py[cod]
*$py.class
*__pyc*/
*.pio/
*.vscode/
misc/svd/*.html
*.rst
examples/**/*.yml
examples/**/*.md
**/CONTR*
**/CHANGE*
.gitmodules
**/*/README*
LICENSE*
*.png
*.jpg
*.rst
# *.md
**/*/README*
# C extensions
*.so
